* {
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 0;
}
header {
    color:  #FFFFFF;
    background-color: #F15B31;
    padding:  30px 20px;

}
h1 {
    font-size: 45px;
}
h1, h2 {
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
    font-weight: 400 ;

}
.main {

    justify-content: center;
    align-items: center;
}
.container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4 , 1fr) ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 600px;


}
.one {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;

}
.box0 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
}
.box1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
}
.box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
}
.box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 3;
}
.nest {
    grid-row: 3;
}
/* Clock styles */
.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
.hour, .hour0, .hour1, .hour2, .hour3,
.minute, .minute0, .minute1, .minute2, .minute3,
.second, .second0, .second1, .second2, .second3 {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
}
#clock-face0{
    opacity: .5;
    max-height: 508px;
    max-width: 508px;
    position: relative;
    bottom: 36px;
    left: 47px;
}
#clock-face1{

    opacity: .5;
    max-height: 504px;
    max-width: 504px;
    position: relative;
    bottom: 39px;
    left: 55px;
    background-size: cover;
    display: inline-block;
    border-radius: 252px;
    -webkit-border-radius: 252px;
    -moz-border-radius: 252px;
}
#clock-face2{
    opacity: .5;
    max-height: 508px;
    max-width: 508px;
    position: relative;
    bottom: 36px;
    left: 50px;
}
#clock-face3 {
    opacity: .5;
    max-width: auto;
    max-height: auto;
    position: relative;
    bottom: 36px;
    background-size: cover;
    display: inline-block;
    border-radius: 354px;
    -webkit-border-radius: 354px;
    -moz-border-radius: 354px;

}
